langchain~=0.3.23
fastapi~=0.115.12
langchain-chroma
langchain-community
langchain-openai
python-dotenv~=1.1.0
sentence_transformers
rdflib
nltk~=3.9.1
rapidfuzz
watchdog
chromadb
transformers
openai~=1.70.0
psycopg2-binary==2.9.10
passlib==1.7.4
python-jose==3.3.0
owlready2~=0.47
jupyter
faiss-cpu
torch~=2.6.0
pydantic~=2.11.2
faiss~=1.9.0
numpy~=2.2.4
jinja2~=3.1.6